<div class="posAbs flexColTL articleCtrlAbsPos">
    <button class="margBot5 btnEditArticle" data-id="<%= articleId %>">Edit</button>
    <button class="btnDeleteArticle" data-id="<%= articleId %>" data-headline="<%= articleHeadline %>">Delete</button>
</div>