<!DOCTYPE html>
<html>

<head>
<%- include('./head.ejs', { title: "404" }); -%>
</head>

<body>
    <h1 class="alignCentre">Oh Potat-No! Page not found!</h1>

    <%- include('./nav.ejs', { user: user }); -%>

    <video src="/assets/sadPotatoRoll.mp4" autoplay loop muted class="dispBlock marg0Auto"></video>

</body>
</html>